en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
gensim==4.0.1
matplotlib
matplotlib-inline
matplotlib-venn==0.11.7
multiprocess==0.70.14
numpy
pandas==1.3.5
pandas-datareader==0.10.0
pandas-profiling==3.6.2
pandas-summary==0.2.0
pandasql==0.7.3
plotly==5.13.0
plotly-express==0.4.1
regex==2021.11.10
scikit-image==0.19.3
scikit-learn==1.0.2
scikit-learn-intelex==2021.6.3
scikit-multilearn==0.2.0
scikit-optimize==0.9.0
scikit-plot==0.3.7
scikit-surprise==1.1.1
scipy
seaborn==0.12.2
sklearn-contrib-py-earth @ git+https://github.com/scikit-learn-contrib/py-earth.git@dde5f899255411a7b9cbbabf93a817eff4b02e5e
sklearn-pandas==2.2.0
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
statsmodels==0.13.5
stemming==1.0.1
stop-words==2018.7.23
wordcloud==1.8.2.2
wordsegment==1.3.1
